body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: beige;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #333;
}

a[download] {
    display: block;
    text-align: center;
    margin: 20px auto;
    font-size: 18px;
    color: #007bff;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #007bff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.imgcentred {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

img.chess {
    max-width: 100%;
    height: 200px;
}

a[download]:hover {
    background-color: #007bff;
    color: white;
}

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
}

nav a.active {
    font-weight: bold;
    color: #0056b3;
}
